
/* Nested .footer */
.footer {
    background-color: $footer-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    height: auto;
    flex: 0 0 auto;

    p {
        margin-left: 300px;
        margin-top: 10px;
    }

    a {
        color: $icon-color;
        text-decoration: none;
    }

    .social {
        font-size: 2rem;
        margin-top: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
        align-self: end;
    }
}


@media (max-width: 1000px) {
    .footer p {
        margin-left: 200px;
        margin-right: 100px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .footer p {
        margin-left: 100px;
        margin-right: 50px;
        margin-top: 10px;
        text-align: -webkit-match-parent;
    }
}
