.gallery-container {
    display: grid;
    gap: 1em 1em;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 500px;
}

.gallery-container h1 {
    grid-column: span 3;
    justify-self: center;
    margin: 50px auto;
}

.gallery-container a {
    line-height: 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width: 1600px) {
    .gallery-container {
        width: 90%;
    }

    .embed-container iframe {
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 767px) {
    .gallery-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .embed-container iframe {
        width: 90%;
        height: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
