
.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: $header-background-color;
    border-bottom: 1px solid $border-color;
    flex: 0 0 auto;
}
