* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Nested .main */
.main {
    flex: 1 0 auto;
    background-color: $main-background-color;

    h1 {
        margin-top: 100px;
        margin-left: 300px;
    }

    p {
        margin-left: 300px;
        margin-right: 50px;
    }
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

@media (max-width: 1000px) {
    .main h1 {
        margin-top: 100px;
        margin-left: 200px;
    }

    .main p {
        margin-left: 200px;
        margin-right: 100px;
    }
}

@media (max-width: 600px) {
    .main h1 {
        margin-top: 100px;
        margin-left: 100px;
    }

    .main p {
        margin-left: 100px;
        margin-right: 50px;
    }
}
