.title {
    padding: 1em 1em 1em 0;
    width: 40%;
}

.logo {
    padding: 1em 1em 1em 0;
    width: 30%;
}

.title * {
    color: $title-color;
}

.title p {
    font-style: italic;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}
