
/* Nested .title */
.title {
    padding: 1em 1em 1em 0;
    width: 40%;

    * {
        color: $title-color;
    }

    p {
        font-style: italic;
    }
}

.logo {
    padding: 1em 1em 1em 0;
    width: 30%;
}

.logo img {
    border-radius: 50%;
    max-width: 300%;
}

@media (max-width: 1200px) {
    .logo img {
        max-width: 200%;
    }
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}
