$font-color: #444;
$title-color: #111;
$border-color: #222;
$icon-color: #222;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$header-background-color: #add8e6;
$main-background-color: #fafad2;
$footer-background-color: #add8e6;

$background-alternative-color: #e0fbfc;
