$font-color: #ddd;
$title-color: #ddd;
$border-color: #222;
$icon-color: #222;
$blockquote-border-color: #f5f5f5;
$code-border-color: #ccc;
$code-background-color: #806740;
$mobile-menu-toggle-color: #333;
$accent-color: #ee6c4d;
$header-background-color: #4D6880;
$main-background-color: #232B32;
$footer-background-color: #4D6880;
$tech-boxes-background-color: #806740;
$tech-boxes-bottom-border-color: #4D6880;
$body-link-color: #4848F0;

$background-alternative-color: #e0fbfc;
$font-alternative-color: #fff;
