{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="analysis-container" role="main">
        <div class="analysis-sidenav">
        <h2>Analyser</h2>
        <ul>
        {% for page in pages("analysis") %}
            <li><a href="{{ page.url }}">
                {{ page.title}}
            </a></li>
        {% endfor %}
        </ul>
        </div>

        <div class="analysis">
            {{ content }}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
